<%= form_for(@page, :html => {:class => 'form-inline'}) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :template_id, 'Template' %>
  <%= f.collection_select :template_id, @templates, :id, :title %>
  <%= f.submit :class => 'btn btn-primary align-right' %>
  <%= f.text_area :content, :style => 'display:none' %>
  <div id="editor"></div>
  
  
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
