<h1>Listing admin_items</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_items.each do |admin_item| %>
  <tr>
    <td><%= admin_item.title %></td>
    <td><%= link_to 'Show', admin_item %></td>
    <td><%= link_to 'Edit', edit_admin_item_path(admin_item) %></td>
    <td><%= link_to 'Destroy', admin_item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_admin_item_path %>
