<div class="well" style="padding: 8px 0;">  
  <ul class="nav nav-list">
    <li class="nav-header">Templates</li>
    <% @components.each do |component| %>
      <% if component.component_type.id == 1 %>
        <li <%= 'class=active' if !@component.nil? and component.title == @component.title  %> ><%= link_to component.title, edit_admin_component_path(component) %></li>
      <% end %>
    <% end %>
    <li><%= link_to 'New Template...', new_admin_component_path(:type => 1) %></li>
  </ul>
  <ul class="nav nav-list">
    <li class="nav-header">Pages</li>
    <% @components.each do |component| %>
      <% if component.component_type.id == 2 %>
        <li <%= 'class=active' if !@component.nil? and component.title == @component.title  %> ><%= link_to component.title, edit_admin_component_path(component) %></li>
      <% end %>
    <% end %>
    <li><%= link_to 'New Page...', new_admin_component_path(:type => 2) %></li>
  </ul>
</div>