<%= form_for(@component) do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_area :content, :style => 'display:none' %>
  <div id="editor"></div>
  <%= f.submit :class => 'btn btn-primary align-right' %>
<% end %>
